{% extends 'base.html' %}

{% block content %}

  <div class="container mt-5">
    <div class="card shadow-sm">
      <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
      <div class="card-body">
        <h1 class="card-title">{{ post.title }}</h1>
        <p class="card-text">{{ post.content| linebreaksbr }}</p>
        <hr>

        <div class="like-section">
            <p><b>Likes: {{ likes_count }}</b></p>

            {% if user.is_authenticated %}
              {% if user_has_liked %}
            <div class="likecommen-div"> 
              <a href="{% url 'likes' post.id %}"><button type="submit" class="btn btn-primary">Liked</button></a>
            
              <a href="{% url 'comment' post.id %}"><button type="submit" class="btn btn-primary">Comment</button></a>
            
              {% else %}
              <a href="{% url 'likes' post.id %}"><button type="submit" class="btn btn-primary ">Like</button></a>
            
              <a href="{% url 'comment' post.id %}"><button type="submit" class="btn btn-primary">Comment</button></a>
              
              {% endif %}
                {% else %}
                  <button class="btn btn-secondary" disabled>Like</button>
                  <p><small>Please log in to like this post.</small></p>
                  <button type="submit" class="btn btn-primary" disabled>Comment</button>
                {% endif %}
                
                
                {% if post.author.id == user_id %}
                <a href="{% url 'update_post' post.id %}"><button type="button" class="btn btn-primary" >Update</button></a>
                <a href="{% url 'delete_post' post.id %}"><button type="button" class="btn btn-danger" >Remove</button></a>
                {% endif %}

                {% if user.is_superuser %}
                <a href="{% url 'delete_post' post.id %}"><button type="button" class="btn btn-danger" >Delete</button></a>
                {% endif %}
              </div>
              </div>
        <a href="{% url 'worldpost' %}" class="btn btn-link mt-3">Back to worldpost</a>
    </div>
  </div>


  <style>
    .card-img-top {
      max-height: 400px;
      object-fit: cover;
    }

    .card-body {
      padding: 20px;
    }

    .like-section {
      margin-top: 20px;
    }
    .likecommen-div{
      display: flex;
      
      column-gap: 2%;
    }
  </style>

{% endblock %}
